@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

main {
  padding: 20vw;
}
#nav {
  background-color: #222222;
  color: #f1f1f1;
  text-align: center;
  padding: 0.5vw;
}

#title {
  text-align: center;
  background-color: #f1f1f1;
  padding: 1vw;
  border-radius: 1vw;
}
